<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e_robot">

  <xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro"/>
  <xacro:ur10e_robot prefix="" />
  <!-- <xacro:include filename="$(find ur_description)/urdf/battery_pack_sleeve/endeffector.urdf.xacro" /> -->
  <xacro:include filename="$(find end_effector)/urdf/end_effector.urdf" />
  <link name="ground_plane_box">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="3 3 0.05"/>
        </geometry>
        <material name="Grey">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="3 3 0.05"/>
        </geometry>
      </collision>
  </link>
  
</robot>
